<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select a Video</h1>
        <ul>
        {% for video in videos %}
            <li><a href="{{ url_for('request_video', video_name=video) }}">{{ video }}</a></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
